@import 'base/variables';
@import 'base/mixins';
* {
    margin: 0;
    font-family: 'Museo Sans Cyrl 500';
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/corusel';
@import 'blocks/catalog';
@import 'blocks/feeds';

@import 'mediafiles/991';
@import 'mediafiles/767';
@import 'mediafiles/575';
@import 'mediafiles/340';



