.advantages {
    padding: 70px 0 95px;
    &__header {
        text-align: center;
        color: $black-color;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 950px;
        margin-top: 65px;
    }
    &__icon {
        img {
            margin-bottom: 38px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 250px;
        font-size: 14px;
        color: $black-color;
        font-weight: 300;
        a {
            color: $main-color;
            text-transform: uppercase;
            text-decoration: underline;
        }
        /* &_animated {
            animation: heartbeat 1s infinite;
        } */
    }
    &__discription_header {
        display: block;
        margin: 0 auto;
        color: $black-color;
        font-size: 18px;
        font-weight: 700;
    }


}