@media (max-width: 340px) {
    .promo {
        padding: 10px 0 20px;
        min-height: 200px;
        &__wrapper {
            margin-top: 40px;
            align-items: center;
        }
        &__header {
            font-size: 21px;
        }
        &__subheader {
            font-size: 13px;
            margin-top: 10px;
        }
        &__icons {
            width: 100%;
            margin-top: 40px;
        }
        &__icon {
            font-size: 11px;
        }
        &__links {
            font-size: 14px;
        }
        .button_main {
            margin-top: 40px;
        }
    }
    .header {
        padding: 0 15px 0;
        &__logo {
            width: 150px;
        }
        &__oficial {
            display: none;
            font-size: 5px;
        }
        &__phone {
            font-size: 12px;
        }
        .button {
            display: none;
        }
    }

    .advantages {
        padding: 50px 0;
        &__header {
            font-size: 21px;
        }
        &__icons {
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 0;
            min-height: 650px;
        }
        &__icon {
            font-size: 20px;
            width: 310px;
            img {
                margin-bottom: 20px;
            }
        }
        &__discription {
            font-size: 12px;
        }
    }
    .title_left {
        font-size: 16px;
        text-align: center;
    }
    .consultation {
        padding: 50px 0 40px;
        text-align: center;
        min-height: 400px;
        &__description {
            font-size: 12px;
            margin-top: 20px;
        }
    }
    .form_consultation {
        width: 100%;
    }

    /* **************_CATALOG_****************** */

    .catalog {
        .title {
            font-size: 20px;
        }
        &__tabs {
            margin: 20px 0;
        }
        &__tab {
            font-size: 11px;
            width: 90px;
            &__text_phone-screen {
                display: inline-block;
            }
            &__text_hight-screen {
                display: none;
            }
        }
        &__content {
            &_active {
                justify-content: center;
            }
        }

    }

    /* **************FEEDS****************** */

    .feeds {
        &__item {
            &__text-wrapper {
                width: 320px;
                text-align: center;
            }
        }
    }

    /* **************FOOTER****************** */
    .footer {
        &__info {
            padding: 30px 10px;
            width:300px;
            height: 250px;
        }
        &__address {
            font-size: 16px;
        }
        &__phone-link {
            font-size: 16px;
        }
        &__social-links {
            width: 190px;
        }
    }

    /* **************MODAL POP-UP****************** */
    .modal {
        width: 100%;
        &__close {
            top: 0;
            right: 7px;
        }
        &-consultation {
            padding: 20px;
            &__subtitle {
                font-size: 16px;
            }
            &__description {
                font-size: 14px;
            }
        }
        &-order {
            padding: 20px;
        }
        &-thanks {
            width: 100%;
            min-height: 140px;
            padding: 20px;
            &__subtitle {
                font-size: 15px;
            }
        }
    }
    .button_consultation {
        width: 100%;
    }
}